*.pyc
.ipynb_checkpoints
lib/build
lib/pycocotools/_mask.c
lib/pycocotools/_mask.so
data/VOCdevkit2007/results/
data/VOCdevkit2007/VOC2007/
data/VOCdevkit2007/annotations_cache/
data/VOCdevkit2007/local/
data/faster_rcnn_models/
data/imagenet_models/
output/
data/
result.txt
result.log
tags
